#audio_scene_prediction {
    list-style: none;
    padding-left: 0;
    font-size: 45%;
    position: absolute;
    top: 5%;
    left: 1%;
}

#canvas_wrapper {
    width: 640px;
    height: 365px;
    position: relative;
}

#overlay {
    position: absolute;
    top: 0; left: 0;
}

#video-container {
	width: 640px;
	height: 365px;
	position: relative;
}

#video-controls {
    overflow: hidden;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;

	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(3,113,168)),
		color-stop(1, rgb(0,136,204))
	);
}

#video-container:hover #video-controls {
	opacity: .9;
}

button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
}

#seek-bar {
	width: 150px;
	float:left;
	margin-left: 15px;
}

#play-pause {
    float:left;
    margin-left: 15px;
}
#volume-bar {
	width: 60px;
	float: left;
	margin-left: 15px;
}
#mute {
    float: left;
    margin-left: 15px;
}
#full-screen {
    float: left;
    margin-left: 15px;
}
#bbox-toggle {
    float: left;
    margin-left: 15px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* utils */
.image-upload > input {
	display: none;
}

#textarea-input{
	width: 220px;
	height: 120px;
}